@charset "utf-8";

.tic-tac-toe {
  padding: 1em;
}

.field {
  margin: 1em auto;
  border-collapse: collapse;
   /* border-collapse: collapse изменяет модель построения ячеек таблицы,
      для точного задания размеров необходимо учесть еще границу*/
  width: 302px;
  height: 302px;
}

.field td {
  border: 2px solid black; /* для таблиц с тонкой манипуляцией размерами ячеек при возможности следует брать четную ширину границ */
  width: 100px;
  height: 100px;
  box-sizing: border-box; /* изменять стандартную модель построения следует как можно ближе к интересующему элементу*/
}

.info {
  font-family: helvetica; /* опять же, шрифт меняем как можно ближе к интересующему элементу */
  text-align: center;
}

/* почти уверен, что можно было бы использовать data-url для иконок,
   тогда отпадет необходимость в двух файлах картинок */
.cross {
  background: url(cross.png) center center no-repeat;
}

.zero {
  background: url(zero.png) center center no-repeat;
}

.icon {
  display: inline-block;
  vertical-align: bottom;
  width: 1em;
  height: 1em; /* лучше размер inline элемента задавать относительно текущего размера шрифта, а не абсолютно */
  margin-left: 0.5em; /* то же самое с отступами (хотя тут возможны варианты) */
  background-size: 100% 100%;
}

.winner {
  background-color: #CCCCCC;
}
